- provide(:title, "About")
%h1 About
%p  Health For All is a nonprofit free health care clinic that was founded in 1987. Virtually all of the clinic’s funding comes from local donors who live and/or do business in the Brazos Valley, and no state or federal funding is received. We provide free doctor visits, pharmaceuticals, specialist exams, lab tests, X-rays, chronic disease management education and counseling services to low income patients in the Brazos Valley who do not have health insurance and do not qualify for government programs such as Medicaid, Medicare or County Indigent funds.

%p  Health for All provides over 4,000 patient visits each year. We are able to deliver services at a very low cost thanks to a small staff and a large number of volunteers and community partners. By providing an alternative to expensive emergency room visits by the uninsured, Health For All saves Brazos Valley hospitals and taxpayers millions of dollars each year.
    
%h2 Our Mission
    
%p  To provide and expand access to free, high quality and comprehensive, primary and preventive health care for low income, medically uninsured individuals in the Brazos Valley.
    
%h2 Our Goal
    
%p  To improve community health and reduce the cost of indigent health care by providing an alternative to the emergency room for low income, medically uninsured patients.
    
%h2 Our Values
    
%p  Health For All seeks to:
    
%p  Create a patient friendly environment 
%p  Treat every individual with dignity and respect 
%p  Deliver high quality care 
%p  Achieve measurable positive outcomes 
%p  Ensure effective utilization of resources 
%p  Provide a meaningful experience for patients, volunteers & staff 
     
    
%h2 The Need
    
%p  Texas has the highest uninsured rate in the nation, with almost 25% of our population living without health insurance. In the Brazos Valley, about 1 in 3 of our population is uninsured.
    
%p  The uninsured are much less likely to seek preventative health care or receive treatment for symptoms that can have serious health consequences if not treated, and are more likely to die from curable health problems.
    
%p  It costs Texas taxpayers, employers and insured individuals about $9.2 billion per year to subsidize health care for the uninsured. Approximately $1,800 of each annual health insurance premium is due to the cost of emergency care for the uninsured.
    
%p  Health For All saves our community between $3 and $6 million per year by providing the low income, uninsured with a medical home and delivering primary and preventative health care at a much lower cost than is possible through hospital emergency rooms.
    
%h2 Our Patients
    
%p  Health For All serves the “Working Poor”.
    
%p  Our patients are between the ages of 18 and 64 because this is the age range that is not automatically eligible for existing government programs. 80% of our patients earn less than $1,500/month. Over 60% of our patients are female and most are single parents. We serve patients from over 20 counties, but 95% live in the Brazos Valley.
    
%h2 History
    
%p  Health For All was founded by Drs. Karim and Asha Haji in 1987. The original clinic was located in donated room in the Cattleman's Inn in Bryan, which was owned by Farida Lakhani. The closet in the room was stocked with donated medication samples and a sign that said "Free Sick Clinic" hung outside the door. The clinic served as a place where the low income, uninsured members of our community could receive free basic medical care, and that mission has never changed.
    
%p  The need for this service in our community was realized immediately and the clinic grew and advanced through five locations to its present professionally equipped clinic in the former University Pediatrics building on Memorial Drive.
    
%p  Health For All has gone from providing the most basic of medical care for a few patients per week to providing a wide range of free health care services for thousands of patients per year.
